#Visual studio related files
Practice/.vs/*
Practice/Problems/obj/*
Practice/Problems/bin/*
Practice/DataStructureAndAlgorithms/obj/*
Practice/DataStructureAndAlgorithms/bin/*
Practice/Problems.UnitTest/obj/*
obj/
bin/

#Unit tests
Practice/Problems.UnitTest/bin/*
